.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  position: relative; /* Declared position allows for location changes */

}
.wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  position: relative;
  top: -140px;
  right:400px;
  width:20px;
}
.App-header {
  display: flex;
  color: white;
}

.App-link {
  color: #09d3ac;
}
